.App {
  text-align: center;
}

.mDiv {
  top: 0px;
  align-items: center;
}

.community-board {
  border: 3px solid black;
  display: inline-flex;
}

.player-hand-container {
  margin: 10px;
  display: inline-table;
  border: 3px solid black;
}

.player-hand {
  max-width: fit-content;
  display: inline-flex;
  margin: 10px;
}

.card {
  text-align: center;
  font-size: xx-large;
  border: 2px solid black;
  width: 150px;
  height: 200px;
  margin: 10px;
}
